{
    # Disables debug output by default.
    "debug": false,
    # Disables warnings by default.
    "warnings" : false,
    # This is where LLTK will look for your config files.
    "lltk-config-path" : "config/",

	# With this option, you can turn on/off caching globally.
	"caching" : true,

    # This will determine the result you get when using the scraping interface.
    # "best":	When scraping, you will get the most frequent result returned by the scrapers.
    # "all":	When scraping, you will get a list of all results sorted by frequency of occurrence.
    "scraping-results-mode" : "best",

     # Specify a list of cache backends that will be enabled by default. If all fail, NoCache will be loaded.
    "default-caches" : ["CouchDB"]
}
